.env
results/jigsaw_multi_4x4_128_512_250e_cosine_everyday/model_save
results/jigsaw_multi_4x4_128_512_250e_cosine_everyday/stats
results/jigsaw_multi_4x4_128_512_250e_cosine_everyday/test_checkpoint_final.pt
results/jigsaw_4x4_128_512_250e_cosine_everyday/model_save
results/jigsaw_4x4_128_512_250e_cosine_everyday/stats
results/jigsaw_4x4_128_512_250e_cosine_everyday/test_checkpoint_final.ptMiniconda3-latest-Linux-x86_64.sh
