{# Slide 1: Relevance of the problem #}
<section id="slide-intro" class="slide-section flex flex-col justify-center px-10 py-20 space-y-6">
    <div class="flex items-center justify-between">
        <h2 class="text-3xl font-semibold">The Problem of Fracture Assembly</h2>
        <div class="flex gap-1">
            <button onclick="scrollToSlide('slide-intro')"
                    class="btn-icon opacity-30 pointer-events-none">
                {% include "components/icons/arrow_narrow_up.html" %}
            </button>
            <button onclick="scrollToSlide('slide-arch')" class="btn-icon">
                {% include "components/icons/arrow_narrow_down.html" %}
            </button>
        </div>
    </div>
    <div class="space-y-4">
        <p class="text-txt-secondary text-base leading-relaxed">Data</p>
    </div>
</section>
